*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    font-family: Lato;
    background-color: #333232;
    font-family: 'Lato', sans-serif;

}
.body-container{
    width: 100%;
    min-width: 320px;
    margin: 0 auto;
    background-image: url(Img/Image1.png);
    background-repeat: no-repeat;
    background-size:110%;

}

.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 90px 250px 0 250px;  
}
.logo-bar{
    width: 25%;
    display: flex;
    justify-content: space-between;
}
.burger {
    display: none;
    width: 30px;
    height: 30px;
    flex-direction: column;
    justify-content: space-between;
}

.burger .line {
    width: 100%;
    display: flex;
    height: 3px;
    background-color: white;
}
.menu-bar {
    flex-shrink: 1;
    
}
.menu-bar ul{
    margin: 0;
    padding: 0;
    display: flex;

}

.menu-bar li {
    list-style: none;
    font-size: 18px;
    justify-content: center;
    font-weight: 500;
    -webkit-transition: all 0.4s ease;
    
}
.menu-bar li a {
    text-decoration: none;
    color: white;
    padding: 15px 20px;
    display: block;
    text-align: center;
}
.menu-bar li a:hover {
    color: black;
}
.menu-bar li:hover {
    background-color: #ffffff;
}

.info-home-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    color: white;
    flex-direction: column;
}
.info-home-container h1 {
    font-size: 32px;
    letter-spacing: -1px;
    color: #ffffff;
    font-weight:300;
    text-align: center;
    margin: 18vh 0 0 0;
    
}
.info-home-container h2 {
    font-size: 66px;
    letter-spacing: -2px;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 0;
}
.info-home-container button {
    width: 240px;
    height: 65px;
    font-size: 21px;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
    border: 2px solid white;
    background-color:transparent;
    border-radius: 5px;
    margin-top: 100px;
    margin-bottom: 160px;
    font-family: Lato;
    -webkit-transition: all 0.25s ease;   
}
.info-home-container button:hover {
    cursor: pointer;
    background-color: white;
    color: black;
}
.section-2{
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border-top: 4px solid grey;
    padding: 100px 250px;
 }
.web-development {
    width: 60%;
    background-color: white;
    padding: 0;   
}
.web-development h1 {
    font-size: 60px;
    letter-spacing: -1px;
    line-height: 75px;
    color: #222222;
    font-weight: 300;
    margin-top: 0;
}
.web-development h1 span {
    font-weight: 700;
}

.web-development p {
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 24px;
    color: #777777;
    padding:0 20px 0 0;
}
.web-development-img {
    width: 40%;
    background-color: white;
    padding: 0;
    text-align: center;
    margin: auto; 
}
.image-wrap{
    width: 50%;
    height: auto;
}
.section-3{
    background-color: #fafafa;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 100px 250px;
  }
.identity-img {
    width: 40%;
    padding:0;
    text-align: center;
    margin: auto; 
}
.user-image{
    width: 50%;
    height: auto;
}
.identity {
    width: 60%;
    padding: 0 20px;   
}
.identity h1 {
    font-size: 60px;
    letter-spacing: -1px;
    line-height: 75px;
    color: #222222;
    font-weight: 300;
    margin-top: 0;
}
.identity h1 span {
    font-weight: 700;
}

.identity p {
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 24px;
    color: #777777;
    padding-right: 40px;
}
.section-4{
    background-color: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-between;
    padding: 100px 250px 100px 250px;
  }
.skill-type {
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: space-between;
    padding: 25px;
}
.skill-type img {
    width: 72px;
    height: 72px;
    
}
.skill-type h1 {
    font-size: 22px;
    letter-spacing: -1px;
    color: #222222;
    font-weight: 500;
    margin: 0;
    padding-left: 20px;
}
.skill-type p {
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 18px;
    color: #777777;
    padding-left: 100px;
    margin: 0;
    margin-top: -30px;
}
.section-5{
    background-color: #fafafa;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 100px 250px 100px 250px;
  }
.clients-heding {
    display: flex;
    width: 100%;
    display: block;
    padding-bottom: 30px;
}
.clients-heding h1{
    text-align: center;
    font-size: 60px;
    letter-spacing: -1px;
    color: #222222;
    font-weight: 300;
    margin: 0;
}
.clients-heding h1 span{
    font-weight: 700;
}
.clients-heding p{
    text-align: center;
    font-size: 22px;
    letter-spacing: -1px;
    color: #777777;
    margin: 0;
}

.ball-separator {
    width: 100%;
    height: 50px;
}
.black-ball-div {
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.ball {
    width: 250px;
    height:250px;
    border-radius: 50%;
    background-color: black;
    margin: 0 auto;
}
.quotation-div {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    background-image: url(Img/Speak-Box.png);
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
}

.quotation-div h1 {
    font-size: 22px;
    line-height: 28px;
    color: #777777;
    text-align: left;
    font-weight: 400;
    padding: 0 20px 0 80px;
    margin-top: 0px;
}
.quotation-div h2 {
    font-size: 20px;
    letter-spacing: 0px;
    line-height: 36px;
    color: #7690c5;
    text-align: center;
    padding: 0 20px 0 80px;
    margin: 0;
}

.black-ball-div-right {
    width: 30%;
    padding-top: 20px;
    text-align: center;
}
.ball-right{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: black;
    margin: 0 auto;
}
.quotation-div-right {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    background-image: url(Img/Speak-Box-1.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.quotation-div-right h1 {
    font-size: 22px;
    line-height: 28px;
    color: #777777;
    text-align: left;
    font-weight: 400;
    padding: 0 20px 0 80px;
    margin-top: 20px;
    
    
}
.quotation-div-right h2 {
    font-size: 20px;
    letter-spacing: 0px;
    line-height: 36px;
    color: #7690c5;
    text-align: center;
    padding: 0 20px 0 80px;
    
}
.section-5-1{
    width: 100%;
    padding: 100px 250px;
    background-color: #fff;
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 60px 250px;
}

.section-6 {
    width: 100%;
    background-color: #111111;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    padding: 100px 250px;
}
.team-heding {
    width: 100%;
    flex-direction: row;
    align-content:center;
    text-align: center;
    flex-wrap: wrap;
    padding-bottom: 60px;

}

.team-heding h1 {
    font-size: 60px;
    letter-spacing: -1px;
    color: #ffffff;
    font-weight: 300;
    padding: 0;
    margin: 0;
}

.team-heding h1 span{
    font-weight: 700;
}
.team-heding p {
    font-size: 22px;
    letter-spacing: -1px;
    color: #777777; 
    padding: 0;
    margin: 0;
}

.team-member{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    margin: 0;
    padding: 0;
    align-content: center;
    width: 28%;
}

.circle {
    display: flex;
    flex-shrink: 1;
    width: 220px;
    height: 220px;
    border: 7px solid white;
    border-radius: 50%;
    background-color: #111111;
    margin: 0;
    
}
.team-member h1 {
    width: 100%;
    font-size: 18px;
    letter-spacing: 0px;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    margin: 20px 0 0 0;
}
.team-member h2 {
    width: 100%;
    font-size: 18px;
    letter-spacing: 0px;
    color: #ffffff;
    font-weight: 300;
    text-align: center;
    margin: 5px 0 10px 0;
}
.team-member img {
    padding: 5px;
    
    -webkit-transition: all 0.25s ease;
}
.team-member img:hover {
    background-color: #7690c5;
    cursor: pointer;
    border-radius: 50%;
}

.team-footer {  
    width: 100%;

}
.team-footer p {
    font-size: 18px;
    letter-spacing: 0px;
    color: #ebebeb;
    text-align: center;
    font-weight: 300;
    margin: 0;
    padding: 60px 0 0 0;
}
.section-7 {
    width: 100%;
    background-color: #7690c5;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 100px 250px 40px 250px;
}
.contact-info{
    width: 50%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-wrap: wrap;
}
.contact-info h1{
    font-size: 60px;
    letter-spacing: -1px;
    color: #ffffff;
    font-weight: 300;
    margin: 0;
}
.contact-info h1 span{
    font-weight: 700;
    text-align: left;
}
.contact-info p {
    font-size: 18px;
    letter-spacing: 0px;
    color: #ffffff;
    padding-bottom: 50px;
    padding-right: 15px;
}
.img-contact {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}
.img-contact h1 {
    font-size: 18px;
    color: #ffffff;
    margin: 0;
    padding-left: 10px;
    font-weight: 300;
}
.img-contact img {
    padding-bottom: 40px;
}
.contact-form {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    align-content: space-between;
    padding-top: 10px;
    
}
.contact-form input {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    background-color: white;
    border: 1px solid #cccccc;
    margin-bottom: 25px;
    padding: 10px;
}
.contact-form textarea {
    width: 100%;
    resize: vertical;
    height: 200px;
    font-family: Lato;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}
form button {
    background-color: white;
    margin-top: 20px;
    width: 140px;
    height: 40px;
    border: 1px solid white;
    background-color: transparent;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    -webkit-transition: all 0.25s ease; 
}
form button:hover{
    background-color: white;
    color: black;
    cursor: pointer;
    
}
form {
    font-family: Lato;
}
div h3 {
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 22px;
    color: #ffffff;
    font-weight: 500;
    width: 100%;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 0;
    margin: 0;
}

.button-top{
    font-size: 16px;
    letter-spacing: 2px;
    width: 50px;
    height: 50px;
    background-color: #3c3c3c;
    border: none;
    border-radius: 50%;
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 1;
    color: white;
    -webkit-transition: all 0.25s ease;
    display: block;
}
.button-top:hover{
    background-color: #a5a1a1;
    color: black;
    cursor: pointer;
    box-shadow: 0px 0px 10px #000000;
}







@media (max-width:1365px) {
    .section-1,
    .section-2,
    .section-3,
    .section-4,
    .section-5,
    .section-5-1,
    .section-6,
    .section-7 {
        padding-left: 100px;
        padding-right: 100px;
    }
    .nav-bar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 90px 50px 0 50px;  
    }
    .skill-type {

        padding: 20px 0;
}
}





@media (max-width:1200px) {
    .section-1,
    .section-2,
    .section-3,
    .section-4,
    .section-5,
    .section-5-1,
    .section-6,
    .section-7 {
        padding-left: 30px;
        padding-right: 30px;
    }
    .nav-bar{
        display: flex;
        flex-wrap: wrap;
        padding: 30px 0; 
    }
    .logo-bar{
        width: 100%;
    }
    .menu-bar.active {
        display: flex;
    }
    .menu-bar ul{
        flex-direction: column;
        width: 100%;
    }
   .menu-bar {
        display: none;
        padding: 0;
        text-align: center;
        width: 100%;
    }
    .burger {
        display: flex;
    }
    .body-container{
    background-size: 110%;
    }
    
    .info-home-container h1 {
        margin-top: 40px;
        font-size: 26px;
    }
    .info-home-container h2 {
        font-size: 50px;
        margin-top: 30px;
    }
    .info-home-container button {
        width: 140px;
        height: 50px;
        font-size: 18px;
        margin-top: 60px;
        margin-bottom: 60px;
    }
    .button-top{
        bottom: 20px;
        left:50%;
        margin-left: -25px;
    }
}


@media (max-width:990px) {

    .section-2,
    .section-3,
    .section-4,
    .section-5,
    .section-5-1,
    .section-6,
    .section-7 {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .body-container{
    background-size: 130%;
    }
}


@media (max-width:880px) {
    .info-home-container h1 {
        margin-top: 10px;
    }
    .info-home-container h2 {
        margin-top: 15px;
    }
    .info-home-container button {
        margin-top: 50px;
        margin-bottom: 50px;
    }   
    .section-2{
    flex-direction: column;
    padding: 30px;  
    }
    .web-development {
        width: 100%;  
    }
    .web-development h1 {
        width: 100%; 
        margin-bottom: 0px;
        text-align: center;
    }
    .web-development p {
        padding:0;
    }
    .web-development-img {
        display: none;
    }
    .section-3{
        flex-direction: column;
        padding: 30px;
      }
    .user-image{
        display: none;
    }
    .identity {
        width: 100%;
        padding: 0; 
    }
    .identity h1 {
        width: 100%; 
        margin-bottom: 0px;
        text-align: center;
    }
    .identity p {
        padding: 0;
        margin-bottom: 0;
    }
    .section-4{
        flex-direction: column;
        flex-wrap: wrap;
        padding: 30px;
        text-align: center;
    }
    .skill-type {
        width: 100%;
        flex-direction: column;
        align-items: center;
        padding-top: 10px;
        padding-bottom: 20px;
       
    }
    .skill-type h1 {
        width: 100%;
        text-align: center;
        padding: 10px 0 10px 0;
    }
    .skill-type p {
        width: 100%;
        margin: 0;
        padding: 0;
        text-align: center;
    }
     .section-5{
        flex-direction: column;
        padding: 30px;
    }
    .clients-heding {
        padding-bottom: 20px;
    }
    .ball-separator {
        width: 100%;
        height: 20px;
        order: 3;
    }  
    .black-ball-div {
        width: 100%;
        padding-bottom: 20px;
        order: 1;
    }
    .ball {
        width: 220px;
        height:220px;
    }
    .quotation-div {
        width: 100%;
        background-image: none;
        order: 2;
    }

    .quotation-div h1 {
        width: 100%;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        padding: 0;
    }
    .quotation-div h2 {
        width: 100%;
        font-size: 20px;
        line-height: 30px;
        text-align: center;
        padding: 0;
    }
    .black-ball-div-right {
        width: 100%;
        padding-top: 20px;
        text-align: center;
        order: 4;
    }
    .ball-right{
        width: 220px;
        height: 220px;
        border-radius: 50%;
    }
    .quotation-div-right {
        width: 100%;
        background-image: none;
        order: 5;
    }
    .quotation-div-right h1 {
         width: 100%;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        padding: 0;
    }
    .quotation-div-right h2 {
        width: 100%;
        font-size: 20px;
        line-height: 30px;
        text-align: center;
        padding: 0;  
    }
    .section-5-1{
        width: 100%;
        padding: 30px;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .section-5-1 img{
        padding-bottom: 10px;
    }
    .section-6 {
    padding: 30px;
    }
    .team-heding {
        width: 100%;
        flex-direction: column;
        padding-bottom: 30px;
    }
    .team-heding h1 {
        width: 100%;
    }
    .team-member{
        width: 100%;
        padding-bottom: 20px;
    }
    .team-footer {  
        width: 100%;
        padding: 0;
        padding-bottom: 20px;
    }
    .team-footer p {
        padding: 0;
    }
    .section-7 {
    padding: 30px;
        flex-direction: column;
    }
    .contact-info{
        width: 100%;
    }
    .img-contact {
        width: 50%;
    }
    .contact-form {
        width: 100%;
    }
    .contact-form input {
        width: 100%;
    }
    div h3 {
        padding-bottom: 0;
        margin: 0;
    }

}
    
@media (max-width:768px){
    .body-container{
        background-size: 250%;
    }
    .button-top{
        width: 40px;
        height: 40px;
        bottom: 10px;
        left:50%;
        margin-left: -20px;
    }
        
}
    
@media (max-width:568px){
    .section-1 {
        padding: 10px;
    }
    .nav-bar{
        padding: 10px 0;
    }
    .info-home-container h1 {
        margin-top: 30px;
        font-size: 20px;
    }
    .info-home-container h2 {
        margin-top: 15px;
        font-size: 36px;
    }
    .info-home-container button {
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: 15px;
    }   
    .section-2{
    padding: 10px;  
    }
    .web-development h1 {
    font-size: 40px;
    line-height: 60px;
    }
    .web-development p {
        margin:0;
        padding-bottom: 10px;
    }
    .section-3{
        padding: 10px;
    }
    .identity h1 {
    font-size: 40px;
    line-height: 60px;
    }
    .identity p {
        padding: 0;
        margin:0;
        padding-bottom: 10px;
    }
    .section-4{
        padding: 10px;
    }
     .section-5{
        padding: 10px;
    }
    .clients-heding h1 {
        font-size: 40px;
    }
    .clients-heding h2 {
        padding-bottom: 0;
    }    
    .section-5-1{
        padding: 10px;
    }
    .section-6 {
    padding: 10px;
    }
    .team-heding h1 {
        font-size: 40px;
    }
    .team-footer {  
        padding-bottom: 20px;
    }
    .section-7 {
    padding: 10px;
    }
    .contact-info{
        width: 100%;
        justify-content: center;
    }
    .contact-info > h1{
        font-size: 40px;
    }
    .contact-info > p{
        margin: 0;
        padding: 15px 0 20px 0;
    }
    div h3 {
        padding-bottom: 10px;
    }    
}



@media (max-width:400px){
    .nav-bar{
        padding: 5px 0;
    }
    .info-home-container h1 {
        margin-top: 20px;
        font-size: 16px;
    }
    .info-home-container h2 {
        margin-top: 15px;
        font-size: 26px;
    }
    .info-home-container button {
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: 15px;
        width: 100px;
        height: 40px;
        font-size: 12px;
        border: 1px solid white;
    }   
    .menu-bar li {
    font-size: 14px;
    }
    
    .web-development h1 {
    font-size: 30px;
    line-height: 50px;
    }
    .web-development p {
        font-size: 14px;
    }
    .identity h1 {
    font-size: 30px;
    line-height: 50px;
    }
    .identity p {
        font-size: 14px;
    }
    .skill-type img{
        width: 50px;
        height: auto;
    }
    .skill-type h1 {
        font-size: 18px;
    }
    .skill-type p {
        font-size: 14px;
    }

    .clients-heding h1 {
        font-size: 30px;
        line-height: 40px;
    }
    .clients-heding p {
        font-size: 16px;
    }    
    .quotation-div h1 {
        font-size: 14px;
        line-height: 20px;
    }
    .quotation-div h2 {
        font-size: 14px;
        line-height: 20px;
    }
    .quotation-div-right h1 {
        font-size: 14px;
        line-height: 20px;
    }
    .quotation-div-right h2 {
        font-size: 14px;
        line-height: 20px;
    }
    .black-ball-div-right{
        padding: 0;
    }
    .ball, .ball-right {
        width: 180px;
        height: 180px;
    }
    .section-5-1{
        padding: 10px;
        justify-content: space-around;
        flex-direction: column;
    }
    .section-5-1 > img {
        width: 40%; 
        padding-bottom: 15px;
    }

    .team-heding h1 {
        font-size: 30px;
        line-height: 50px;
    }
    .team-heding p {
        font-size: 16px;
    }
    .team-footer {  
        padding-bottom: 20px;
    }
    .circle {
        width: 180px;
        height: 180px;
    }
    .team-member h1 {
        font-size: 14px;
        margin: 10px 0 0 0;
    }
    .team-member h2 {
        font-size: 14px;  
    }
    .team-member > img {
        width:35px;
    }
    .team-footer p {
        font-size: 14px;
    }
    .team-footer {
        padding-bottom: 10px;
    }

    .contact-info > h1{
        font-size: 30px;
        line-height: 50px;
    }
    .contact-info > p{
        font-size: 14px;
        font-weight: 300px;
        padding: 10px 0 20px 0;
        text-align: center;
    }
    .img-contact {
    width: 100%;
    justify-content: center;
    }
    .img-contact h1 {
    font-size: 14px;
    padding-left: 10px;
    }
    .img-contact img {
    padding-bottom: 10px;
    }
    #submit {
        width: 100%;
        font-size: 12px;
    }
    div h3 {
        padding-bottom: 10px;
        padding-top: 20px;
        font-size: 10px;
    } 
    .logo-bar > img {
        width: 120px;    
    }
}

@media (min-width:1921px) {
    .quotation-div h1 {
    padding: 0 60px 0 150px;
}
        .quotation-div h2 {
    padding: 0 60px 0 150px;
    
}
        .quotation-div-right h1 {
    padding: 0 60px 0 150px;
}
        .quotation-div-right h2 {
    padding: 0 60px 0 150px;
    
}

}






